* {
  box-sizing: border-box;
  margin: 0;
  color: white;
}
body {
  background: #000000;
}
#navigation ul {
  text-align: center;
  list-style-type: none;
  background: rgb(91, 206, 62);
  margin: 0;
  padding: 0;
}
#navigation ul > li {
  box-sizing: border-box;
  margin: 0px -2px;
  cursor: pointer;
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 22px;
}
#navigation li {
  border-right: solid 1px rgb(31, 124, 7);
}
#navigation li:first-child {
  border-left: 1px solid rgb(31, 124, 7);
}

#navigation ul > li:hover {
  background: #67e467;
}
#navigation li a {
  box-sizing: border-box;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 25px 22px;
}
#navigation li:hover > a {
  color: #113818;
}
@media (max-width: 925px) {
  #navigation li a {
    font-size: 20px;
    padding: 0px;
  }
  #navigation ul li {
    display: grid;
    grid-template-columns: 1fr;
    padding: 4px;
  }
  #navigation ul li:last-child {
    padding-bottom: 4px;
  }
}
