<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Marbal Cinema</title>
  <link rel="stylesheet" type="text/css" href="stil.css">
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
</head>

<body>
  <div id="navigation">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/movies">Our movies</a></li>
      <li><a href="/booktickets">Book tickets</a></li>
      <li><a href="/bar_menu">Bar menu</a></li>
      <li><a href="/prizes">Win prizes</a></li>
    </ul>
  </div>

  <h1 id="registerTitle">Register<h1>
      <form id="registerForm" method="POST" action="/register">
        <input class="loginInputs" type='text' name="name" placeholder='Name' required>
        <br>
        <input class="loginInputs" type='email' name="email" placeholder='Email' required>
        <br>
        <input class="loginInputs" type='password' name='password' placeholder='Password' required>
        <br><br>
        <input class="buttons" id="btnRegister" type='submit' value="Submit">
      </form>
      <div id="loginLink">
        Login to your account: <button class="buttons"><a href='/login'>Login</a></button>
      </div>
</body>

</html>